@using MyApp.Application.DTOs.Music
@using MyApp.Domain.Enums.Music

<div class="row mb-3">
    <div class="col-md-3">
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" @bind="SearchDto.ArtistName" />
            <label>Search Artist Name</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" @bind="SearchDto.CdName" />
            <label>Search CD Name</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" @bind="SearchDto.TrackTitle" />
            <label>Search Track Title</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mb-3 form-floating">
            <InputSelect id="ddl_genre" class="form-select" @bind-Value="SearchDto.Genre">
                @foreach (var genre in Enum.GetValues(typeof(Genre)))
                {
                    <option value="@genre">@genre</option>
                }
            </InputSelect>
            <label for="ddl_genre">Genre</label>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public SearchAlbumDto SearchDto { get; set; } = new SearchAlbumDto();
}
