
<div class="mb-3">
    <Button Color="ButtonColor.Primary" @onclick="OnAdd">New Item</Button>
    <Button Color="ButtonColor.Secondary" @onclick="OnSearch">Search</Button>
    <Button Color="ButtonColor.Danger" @onclick="OnReset">Reset</Button>
</div>

@code {
    [Parameter]
    public EventCallback OnAdd { get; set; }

    [Parameter]
    public EventCallback OnSearch { get; set; }

    [Parameter]
    public EventCallback OnReset { get; set; }
}
